<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Appenders>
        <Socket name="Socket" host="${bundle:application:logging.conf.host}" port="${bundle:application:logging.conf.port}">
            <JsonLayout properties="true"/>
        </Socket>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Socket"/>
        </Root>
    </Loggers>

</Configuration>